extends layout

block content

    main.main-container

      div.income-container

        h2 Income:

          div.income-list
            if sources && sources.length > 0
              each source, index in sources
                ul.listed-items
                  li
                    p #{source.name} $ #{source.amount}
                  li
                    a(href=`begin/income_${index}/delete`)
                      img(src="/images/delete.png" alt="delete this item")
        a(href="/newSource" class="new-source") Add income


      div.expense-container
        
          h2 Expenses:
            
            div.expense-list
              if expenses && expenses.length > 0
                each expense, index in expenses
                  ul.listed-items
                    li
                      p #{expense.name} $ #{expense.amount}
                    li
                      a(href=`begin/expense_${index}/delete`)
                        img(src="/images/delete.png" alt="delete this item")
          a(href="/newExpense" class="new-expense") Add expense


    div.result-container
      div
        h2 Net Income:
    div.number-container  
      div
        p $ #{total.toFixed(2)}